*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* navbar style starts here */
.navbar-wrapper
{
    background-color: rgb(71, 85, 105);

}
.navbar-main
{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}
.nav-menu-btn
{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
.hamburger-menu
{
    display: none;
}

/* banner section style starts here */
     .main-content
     {
        max-width: 1200px;
        margin: 0 auto;
     
        border: 2px solid red;
     }
     .banner>div
     {
        width: 48%;
        
     }
     .banner-img-container>img{
        width: 100%;
        border-radius: 10px;
     }
     .banner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px;
        border-radius:10px ;
        background-color: rgb(242,242,242);
        position: relative;
     }
     .purchase-button
     {
        border: 2px solid gray;
        padding: 10px;
        background-color: transparent;
        border-radius: 8px;
        margin: 10px;
     }
     .fifty-off
     {
        background-color: rgba(0, 0, 0, 0.401);
        color:white;
        width:max-content;
        padding: 15px 40px;
        font-size: 25px;
        border-radius: 10px;
        position: absolute;
        top:37%;
        left:22%;
     }

/* banner section style ends here */

/* Popular section style starts here */

.popular
{
margin-top: 40px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 20px;
}

.card
{
    padding: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.481);
    border-radius: 10px;

}
.card img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card>div:nth-child(1)
{
    height: 270px;
}

/* Popular section style ends here */


/* section odvut style starts here */
.odvut-main
{
    border: 2px solid blue;
    margin-top: 50px;
    min-height: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;
}
.odvut-main img{
    width: 100%;
    height: 100%;
    border-radius: 70px;
    filter: brightness(30%);
}
  
.odvut-child-1
{ background-color: red;
    grid-column: 1/span 7;
    border-radius: 70px;
    grid-row: 1/span 6;
    position: relative;
}
.odvut-child-2
{background-color: green;
    grid-column: 8/span 5;
    border-radius: 70px;
    grid-row: 1/span 6;
    position: relative;
}
.odvut-child-3
{
background-color: blue;
grid-column: 1/span 5;
border-radius: 70px;
grid-row: 7/span 6;
position: relative;
}
.odvut-child-4
{
background-color: pink;
grid-column: 6/span 7;
border-radius: 70px;
grid-row: 7/span 6;
position: relative;
}
.icon
{
    color: white;
    position: absolute;
    font-size: 50px;
    top: 20%;
    left: 50%;
}
 
/* section odvut style ends here */
